*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.navbar{
    padding: 44px 0 0 76px;
    display: flex;
    gap: 24px;
}

.navbar a{
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
}

.navbar a:hover{
    color: #000000b4;
    font-weight: 700;
    transition: 250ms linear;
}

.btn-login{
    width: 130px;
    height: 41px;
    border-radius: 50px;
    background: #665AE1;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    border: none;
    position: relative;
    top: -6px;
    cursor: pointer;
}

main{
    display: flex;
    gap: 86px;
    align-items: center;
    justify-content: center;
    margin-top: 143px;  
}

.box-img img{
    width: 568px;
    height: 500px;
}

h1{
    font-weight: 900;
    font-size: 100px;
    color: #515151;
}

h2{
    font-weight: 500;
    font-size: 71px;
    color: #515151;
}

p{
    font-weight: 400;
    font-size: 24px;
    color: #848484;
    width: 515px;
}

.btn-explore{
    width: 239px;
    height: 64px;
    border-radius: 50px;
    background: #ADFF00;
    font-size: 28px;
    font-weight: 700;
    border: none;
    margin-top: 80px;
    cursor: pointer;
}


/*responsividade*/

@media screen and (max-width:1161px){
    header{
        display: none;
    }

    p{
        display: none;
    }

    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-img img{
        width: 354px;
        height: 317px;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 30px;
    }
}
    

